.rank-opinion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank-container {
    width: 98%;
    height: 18rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    color: black;
}

.opinion-user {
    width: 50%;
}

.photo-stars {
    height: 14rem;
}

.photo-stars img {
    height: 50%;
    width: 50%;
    border-radius: 100%;
}

figure {
    margin: 0;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}